mixin pledge-form(pledge)
  - var attDisabled = {}
  - var extraClass = ""
  - var labelClass = ""
  if (pledge.unitLeft == "0")
    - attDisabled = {disabled:"disabled"}
    - extraClass = " pledge--disabled"
    - labelClass = "pledge__label--disabled"
  div(class=`pledge${extraClass}` id=`pledge-${pledge.radioName}`)
    .pledge__fixed
      .pledge__controls
        input.pledge__radio(id=`radio-${pledge.radioName}` type="radio" name="pledge-radio")&attributes(attDisabled)
        label(class=`pledge__label ${labelClass}` for= `radio-${pledge.radioName}`)= pledge.type
          if (pledge.pledgeAmount != "15")
            span.pledge__label--light= `Pledge $${pledge.pledgeAmount} or more`
      p.pledge__description= pledge.description
      if (pledge.pledgeAmount != "15")
        p.pledge__left= pledge.unitLeft
          span.pledge__left--small  left
    .pledge__expandable.pledge__expandable--hide(id=`expandable-controls-${pledge.radioName}`)
      p.pledge__option-paragraph Enter your Pledge
      .pledge__expandable-controls
        input.pledge__expandable-input(type="number", name="pledge-money" aria-label=`pledge price ${pledge.pledgeAmount} or more` min=`${pledge.pledgeAmount}` value=`${pledge.pledgeAmount}` disabled)
        button.pledge__expandable-button.button--primary(disabled) Continue